<configuration>
    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <includeMdcKeyName>requestId</includeMdcKeyName>
            <includeMdcKeyName>correlationId</includeMdcKeyName>
            <includeMdcKeyName>causationId</includeMdcKeyName>
            <includeMdcKeyName>traceId</includeMdcKeyName>
            <includeMdcKeyName>eventType</includeMdcKeyName>
            <includeMdcKeyName>topic</includeMdcKeyName>
            <includeMdcKeyName>partition</includeMdcKeyName>
            <includeMdcKeyName>offset</includeMdcKeyName>
            <includeMdcKeyName>status</includeMdcKeyName>
            <customFields>{"service":"payment-sbus"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON"/>
    </root>

    <logger name="com.example.payments" level="DEBUG"/>
</configuration>
